@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.webgl {
  position: relative;
  top: 0;
  left: 0;
  outline: none;
}

.title {
  font-family: "dongle", sans-serif;
  font-size: 5em;
  color: #00d5ff;
  top: 8%;
  text-align: center;
  font-weight: 600;
  left: 50%;
}

.header {
  position: fixed;
  display: flex;
  top: 3%;
  right: 2.4%;
  align-items: center;
  gap: 10px;
  height: 3.9%;
  cursor: pointer;
}

.header :hover {
  opacity: 0.85;
}
.header img {
  position: relative;
  height: 90%;
  width: auto;
}
.page1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}
.page2 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0%;
  width: 100%;
}
.pencil {
  position: relative;
  width: 80%;
}
.pencil2 {
  position: relative;
  width: 100%;
}
.complete_icon {
  position: relative;
  padding: auto;
  width: 23.8%;
}
.complete_icon :hover {
  opacity: 0.85;
}
.reload-icon img {
  width: 100%;
  color: #00d5ff;
}

.reload-icon :hover {
  opacity: 0.85;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  top: 0%;
  width: 80%;
  height: 100%;
}

.container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 20px;
}
.result {
  /* position: relative; */
  display: flex;
  height: 80%;
  flex-direction: row;
  gap: 20px;
}
.page2-buttons {
  display: flex;
  justify-content: center;
  width: 25%;
  gap: 20px;
}

.page2-buttons :hover {
  opacity: 0.85;
}

.subtitle {
  font-family: "Dongle", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5em;
  color: #4c00ff;
}
.top-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.additional-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 70%;
}
.font1 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  padding: 10px;
  border-bottom: solid 2px #00d5ff;
  border-right: solid 2px #00d5ff;
  width: 100%;
  text-align: left;
}
.font1-1 {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  padding: 10px;
  border-bottom: solid 2px #00d5ff;
  border-right: solid 2px #00d5ff;
  text-align: center;
  width: fit-content;
  white-space: nowrap;
}
.content {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: #000000;
  padding: 0 10%;
}

.content a {
  text-decoration: underline;
  color: blue;
}

.Rectangle-21 {
  width: 90%;
  margin: 17px;
  border: solid 2px #00d5ff;
  background-color: #fff;
}
.top-container input {
  width: 70%;
  font-size: 2em;
  outline: none;
}

.top-container Image {
  width: 100%;
}

.error-message {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  color: red;
  font-size: 1.1em;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
